<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h2>Avis :</h2>
<% @reviews.each do |review| %>
  <p><strong>Rating :</strong> <%= review.rating %></p>
  <p><strong>Content :</strong> <%= review.content %></p>
<% end %>

<%= render 'reviews/form', restaurant: @restaurant %>

<%# <%= link_to 'Ajouter un avis',  new_restaurant_review_path(@restaurant) %>
<%= link_to 'Retourner à la liste', restaurants_path%>

 <%# new_review_restaurant %>
